---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: truenas-monitoring
  labels:
    release: kube-prometheus-stack
spec:
  jobLabel: truenas
  selector:
    matchLabels:
      external-app: truenas-monitoring
  endpoints:
  - port: monitoring
    interval: 15s
    path: /metrics
---
apiVersion: v1
kind: Service
metadata:
  labels:
    external-app: truenas-monitoring
  name: truenas-monitoring
  namespace: monitoring
spec:
  ports:
    - name: monitoring
      protocol: TCP
      port: 9108
      targetPort: 9108
    - name: 9109-tcp
      protocol: TCP
      port: 9109
      targetPort: 9109
    - name: 9109-udp
      protocol: UDP
      port: 9109
      targetPort: 9109
---
apiVersion: v1
kind: Endpoints
metadata:
  name: truenas-monitoring
subsets:
  - addresses:
      - ip: 172.31.0.15
    ports:
      - name: monitoring
        port: 9108
        protocol: TCP
